# Artificial Neural Network

###  Part 1 - Data Preprocessing
**Importing the libraries**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

**Importing the dataset**

In [10]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

**Encoding categorical data**

In [11]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

**Splitting the dataset into the Training set and Test set**

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

**Feature Scaling**

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Part 2 - Now let's make the ANN!
**Importing the Keras libraries and packages**

In [15]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [16]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))

# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [23]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 10)

Epoch 1/10
8000/8000 [==============================] - 0s 62us/step - loss: 0.3985 - acc: 0.8350
Epoch 2/10
8000/8000 [==============================] - 1s 68us/step - loss: 0.3979 - acc: 0.8349
Epoch 3/10
8000/8000 [==============================] - 1s 65us/step - loss: 0.3977 - acc: 0.8365
Epoch 4/10
8000/8000 [==============================] - 0s 62us/step - loss: 0.3970 - acc: 0.8356
Epoch 5/10
8000/8000 [==============================] - 1s 65us/step - loss: 0.3969 - acc: 0.8371
Epoch 6/10
8000/8000 [==============================] - 1s 63us/step - loss: 0.3964 - acc: 0.8346
Epoch 7/10
8000/8000 [==============================] - 0s 62us/step - loss: 0.3965 - acc: 0.8362
Epoch 8/10
8000/8000 [==============================] - 1s 64us/step - loss: 0.3965 - acc: 0.8367
Epoch 9/10
8000/8000 [==============================] - 1s 65us/step - loss: 0.3963 - acc: 0.8356
Epoch 10/10
8000/8000 [==============================] - 0s 62us/step - loss: 0.3963 - acc: 0.8350

### Part 3 - Making the predictions and evaluating the model

**Predicting the Test set results**

In [24]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

**Predicting a single new observation**

In [26]:
"""Predict if the customer with the following informations will leave the bank:
Geography: France
Credit Score: 600
Gender: Male
Age: 40
Tenure: 3
Balance: 60000
Number of Products: 2
Has Credit Card: Yes
Is Active Member: Yes
Estimated Salary: 50000"""

new_prediction = classifier.predict(sc.transform(np.array([[0.0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))
new_prediction = (new_prediction > 0.5)
new_prediction

array([[False]])

**Making the Confusion Matrix**

In [25]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1544,   51],
       [ 257,  148]], dtype=int64)